In [2]:
%matplotlib inline

In [1]:
import json
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns

import matplotlib.pyplot as plt
from pandas.io.json import json_normalize

In [2]:
def CustomParser(data):
    return json.loads(data)

# Read csv file
filename = 'result.csv'
df = pd.read_csv(filename, sep=';', converters={'db_parameters':CustomParser, 'model_cfg': CustomParser})
df[sorted(df['db_parameters'][0].keys())] = df['db_parameters'].apply(pd.Series)
df[sorted(df['model_cfg'][0].keys())] = df['model_cfg'].apply(pd.Series)

In [3]:
# Show best result of each model for each babi task
ddf = df[df['db'] == 'babi']
ddf = ddf.groupby(['db','model','task'])
ddf = ddf.max()
ddf = ddf.reset_index()
ddf[['model','acc','task']].pivot('task', 'model')

                acc
model DeepN2NMemory EmbedLSTM SimpleLSTM
task
1             0.963     0.711      0.189
2             0.325       NaN      0.189
3             0.251       NaN      0.174
4             1.000       NaN      0.279
5             0.826       NaN      0.344
6             0.972       NaN      0.636
7             0.904       NaN      0.693
8             0.802       NaN      0.539
9             0.962       NaN      0.655
10            0.956       NaN      0.538
11            0.985       NaN      0.220
12            0.967       NaN      0.187
13            1.000       NaN      0.185
14            0.412       NaN      0.205
15            0.536       NaN      0.266
16            0.451       NaN      0.281
17            0.958       NaN      0.612
18            0.957       NaN      0.709
19            0.086       NaN      0.094
20            0.983       NaN      0.699